{% extends 'layout.html' %}

{% block content %}

<div>
    Choose a Feed (source):
    <select name="feed" id="feed_list">
        {% for feed in feeds %}
            <option value="{{ feed['feed_id'] }}">{{ feed['feed_name'] }}</option>
        {% endfor %}
    </select>
</div>
<div>
    <table id="feed_table" class="pure-table pure-table-bordered"></table>
    <input type="button" id="feed_table_new_row" onclick="createRow('feed_table', 4)" value="New Row">
    <input type="button" id="feed_table_submit" value="Generate">
</div>
<br><br>
<div>
    Choose an data object (target):
    <select id="data_object_list">
        {% for do in data_objects %}
            <option value="{{ do['data_object_id'] }}">{{ do['data_object_name'] }}</option>
        {% endfor %}
    </select>
</div>
<div>
    <table id="data_object_table" class="pure-table pure-table-bordered"></table>
    <input type="button" id="data_object_table_new_row" onclick="createRow('data_object_table', 4)" value="New Row">
    <input type="button" id="data_object_table_submit" value="Generate">
</div>
<br><br>
<div>
    Feed and data object attributes
    <table id="attr_table" class="pure-table pure-table-bordered"></table>
    <input type="button" id="attr_table_new_row" onclick="createRow('attr_table', 9)" value="New Row">
    <input type="button" id="attr_table_submit" value="Generate">
</div>



<script type="text/javascript">
    function createRow(table_id, num_cols) {
        var table = document.getElementById(table_id);
        var row = table.insertRow(table.rows.length);
        var i;
        for (i = 0; i < num_cols; i++) {
            row.insertCell(i).innerHTML = "XX";
        }
        row.insertCell(i).innerHTML = '<input type="button" value="Delete" onclick="deleteRow(\''+table_id+'\', this)">';
        $('#'+table_id).editableTableWidget();
    }

    function deleteRow(table_id, r) {
        var i = r.parentNode.parentNode.rowIndex;
        document.getElementById(table_id).deleteRow(i);
    }
</script>

<script type="text/javascript">
    // on selecting a feed
    $("#feed_list").change(function() {
        // display selected feed attributes
        $.ajax({
            url: "/read_one_feed/" + $(this).val()
        }).done(function(response) {
            // display the feed attribute list 
            $("#feed_table").empty();
            var trHTML = '<tr>';
            trHTML += '<td>feed attr no</td><td>feed attr name</td><td>feed attr id</td><td>feed attr type</td>';
            trHTML += '<td>Action</td>';
            trHTML += '</tr>';
            $.each(response, function (i, item) {
                trHTML += '<tr>';
                trHTML += '<td>' + item.feed_attribute_no + '</td>';
                trHTML += '<td>' + item.feed_attribute_name + '</td>';
                trHTML += '<td>' + item.feed_attribute_id + '</td>'
                trHTML += '<td>' + item.feed_attribute_type + '</td>';
                trHTML += '<td><input type="button" value="Delete" onclick="deleteRow(\'feed_table\', this)"></td>' 
                trHTML += '</tr>';
            });
            $('#feed_table').append(trHTML);
            $('#feed_table').editableTableWidget();
        });

    });

    // on selecting a data object
    $("#data_object_list").change(function() {
        // 1. display selected data object attribute
        $.ajax({
            url: "/read_one_data_object/" + $(this).val()
        }).done(function(response) {
            // display the feed attribute list 
            $("#data_object_table").empty();
            var trHTML = '<tr>';
            trHTML += '<td>attribute no</td><td>attribute name</td><td>attribute id</td><td>attribute type</td>';
            trHTML += '<td>Action</td>';
            trHTML += '</tr>';
            $.each(response, function (i, item) {
                trHTML += '<tr>';
                trHTML += '<td>' + item.attribute_no + '</td>';
                trHTML += '<td>' + item.attribute_name + '</td>';
                trHTML += '<td>' + item.attribute_id + '</td>'
                trHTML += '<td>' + item.attribute_type + '</td>';
                trHTML += '<td><input type="button" value="Delete" onclick="deleteRow(\'data_object_table\', this)"></td>' 
                trHTML += '</tr>';
            });
            $('#data_object_table').append(trHTML);
            $('#data_object_table').editableTableWidget();
        });
        // 2. read feed attr - data object attr mapping
        $.ajax({
            url: "/read_attributes_by_feed_id_data_object_id/" + $("#feed_list").val() + "/" + $("#data_object_list").val()
        }).done(function(response) {
            $("#attr_table").empty();
            var trHTML = '<tr>';
            trHTML += '<td>feed attr no</td><td>feed attr name</td><td>feed attr id</td><td>feed attr type</td>';
            trHTML += '<td>data obj attr no</td><td>data obj attr name</td><td>data obj attr id</td><td>data obj attr type</td><td>transform_fn</td>';
            trHTML += '<td>Action</td>';
            trHTML += '</tr>';
            $.each(response, function (i, item) {
                trHTML += '<tr>';
                trHTML += '<td>' + item.feed_attribute_no + '</td>';
                trHTML += '<td>' + item.feed_attribute_name + '</td>';
                trHTML += '<td>' + item.feed_attribute_id + '</td>'
                trHTML += '<td>' + item.feed_attribute_type + '</td>';
                trHTML += '<td>' + item.doa_no + '</td>';
                trHTML += '<td>' + item.doa_name + '</td>';
                trHTML += '<td>' + item.doa_id + '</td>';
                trHTML += '<td>' + item.doa_type + '</td>';
                trHTML += '<td>' + item.transform_fn + '</td>';
                trHTML += '<td><input type="button" value="Delete" onclick="deleteRow(\'attr_table\', this)"></td>' 
                trHTML += '</tr>';
            });
            $('#attr_table').append(trHTML);
            $('#attr_table').editableTableWidget();
        });
    });

    $('#attr_table_submit').click(function() {
        var tableData;
        tableData = new Array();
        $('#attr_table tr').each(function(row, tr) {
            tableData[row] = {
                "feed_attr_no": $(tr).find('td:eq(0)').text(),
                "feed_attr_name": $(tr).find('td:eq(1)').text(),
                "feed_attr_id": $(tr).find('td:eq(2)').text(),
                "feed_attr_type": $(tr).find('td:eq(3)').text(),
                "data_object_attr_no": $(tr).find('td:eq(4)').text(),
                "data_object_attr_name": $(tr).find('td:eq(5)').text(),
                "data_object_attr_id": $(tr).find('td:eq(6)').text(),
                "data_object_attr_type": $(tr).find('td:eq(7)').text(),
                "transform_fn": $(tr).find('td:eq(8)').text(),
            }
        });
        tableData.shift();

        $.ajax({
            url: '/save_attributes',
            type: 'POST',
            data: JSON.stringify(tableData),
            contentType: "application/json",
        }).done(function(data) {
            // alert(data);
        })
    });

</script>

{% endblock %}