{% extends 'layout.html' %}

{% block content %}

<div class="w3-container">
    <h2 class="w3-text-blue">Feed</h2>
    <p>
    <label>Choose a Feed or Create New:</label>
    <select name="feed" class="w3-select w3-border" id="feed_list">
        <option value="NEW_FEED">---Create New Feed---</option>
        {% for feed in feeds %}
        <option value="{{ feed['FEED_ID'] }}">{{feed['FEED_NAME']}} ({{feed['DB_NAME']}})</option>
        {% endfor %}
    </select>
    </p>
    <p>
    <div class="w3-quarter">
        <input class="w3-input w3-border" type="text" id="feed_table_new_feed_name" placeholder="New Feed Name">
    </div>
    <div class="w3-quarter">
        <input class="w3-input w3-border" type="text" id="feed_table_new_feed_sourcesystem" placeholder="New Feed Source System">
    </div>
    <div class="w3-quarter">
        <input class="w3-input w3-border" type="text" id="feed_table_new_feed_filetype" placeholder="New Feed File Type">
    </div>
    <div class="w3-quarter">
        <input class="w3-input w3-border" type="text" id="feed_table_new_feed_dbname" placeholder="New Feed DB Name">
    </div>
    </p>
</div>

<div class="w3-container">
    <p>
    <table id="feed_table" class="w3-table"></table>
    </p>
    <p>
    <input type="button" class="w3-btn w3-blue" id="feed_table_new_row" value="New Row">
    <input type="button" class="w3-btn w3-blue" id="feed_table_submit" value="Generate">
    </p>
</div>

<div class="w3-container">
    <h2 class="w3-text-blue">Data Object</h2>
    <p>
    <label>Choose an data object (target)</label>
    <select id="data_object_list" class="w3-select w3-border">
        <option value="NEW_DATA_OBJECT">---Create New Data Object---</option>
        {% for do in data_objects %}
            <option value="{{ do['DATA_OBJECT_ID'] }}">{{ do['DATA_OBJECT_NAME']}} ({{do['TGT_DB_NAME']}})</option>
        {% endfor %}
    </select>
    </p>
    <p>
    <div class="w3-half">
        <input class="w3-input w3-border" type="text" id="data_object_table_new_data_object_name" placeholder="New Data Object Name">
    </div>
    <div class="w3-half">
        <input class="w3-input w3-border" type="text" id="data_object_table_new_data_object_dbname" placeholder="New Data Object DB Name">
    </div>
    </p>
</div>
<div class="w3-container">
    <p>
    <table id="data_object_table"></table>
    </p>
    <p>
    <input type="button" class="w3-btn w3-blue" id="data_object_table_new_row" value="New Row">
    <input type="button" class="w3-btn w3-blue" id="data_object_table_submit" value="Generate">
    </p>
</div>

<div class="w3-container">
    <h2 class="w3-text-blue">Attribute Mapping</h2>
    <p>
    <table id="attr_map_table"></table>
    </p>
    <p>
    <input type="button" class="w3-btn w3-blue" id="attr_map_table_new_row" value="New Row">
    </p>
    <p>
    <textarea id="attr_mapping_src_filter" cols="120" rows="3" style="resize: none;" placeholder="source filter"></textarea> 
    <textarea id="attr_mapping_table_transformation" cols="120" rows="6" style="resize: none;" placeholder="table level transformation"></textarea> 
    </p>
    <p>
    <input type="button" class="w3-btn w3-blue" id="attr_map_table_submit" value="Generate">
    </p>
</div>

<div class="w3-container">
    <h2 class="w3-text-blue">Generated Result</h2>
    <p>
    <textarea id="sql_result" cols="120" rows="30" style="resize: none;" data-role="none"></textarea> 
    </p> 
</div>


<script type="text/javascript">
    function changeValueIfEqual(element, ifValue, thenValue) {
        if (element.value == ifValue) {
            element.value = thenValue;
        }
    }

</script>

<script type="text/javascript">
    var dbg;
    var feed_table = new Tabulator("#feed_table", {
        addRowPos:"bottom",
        movableRows:true,
        layout:"fitColumns",
        placeholder:"No Data Set",
        columns: [
            {title:"ID", field:"FEED_ATTRIBUTE_ID", width:120},
            {title:"Name", field:"ATTRIBUTE_NAME", width:200, editor:"input"},
            {title:"No", field:"ATTRIBUTE_NO", width:120, editor:"input"},
            {title:"Type", field:"ATTRIBUTE_TYPE", width:120, editor:"input"},
            {title:"Primary Key", field:"PRIMARY_KEY_IND", width:120, editor:"select", editorParams:{"Y":"Y","N":"N"}},
            {title:"Nullable", field:"NULLABLE_IND", width:120, editor:"input", editor:"select", editorParams:{"Y":"Y","N":"N"}},
            {title:"Length", field:"ATTRIBUTE_LENGTH", width:120, editor:"input"},
            {title:"Precision", field:"ATTRIBUTE_PRECISION", width:120, editor:"input"},
            {title:"Nested Type", field:"NESTED_ATTRIBUTE_TYPE", width:160, editor:"input"},
            {title:"Nested Path", field:"NESTED_ATTRIBUTE_PATH", width:250, editor:"input"},
            {title:"Nested level", field:"NESTED_LEVEL", width:80, editor:"input"},
            {formatter:"buttonCross", width:40, align:"center", cellClick: function(e, cell) {cell.getRow().delete();}},
        ],        
    });

    var data_object_table = new Tabulator("#data_object_table", {
        addRowPos:"bottom",
        movableRows:true,
        layout:"fitColumns",
        placeholder:"No Data Set",
        columns: [
            {title:"Attribute ID", field:"DATA_OBJECT_ATTRIBUTE_ID", width:150},
            {title:"Attribute No", field:"ATTRIBUTE_NO", width:150, editor:"input"},
            {title:"Attribute Name", field:"ATTRIBUTE_NAME", width:150, editor:"input"},
            {title:"Attribute Type", field:"ATTRIBUTE_TYPE", width:150, editor:"input"},
            {title:"Primary Key", field:"PRIMARY_KEY_IND", width:150, editor:"select", editorParams:{"Y":"Y","N":"N"}},
            {formatter:"buttonCross", width:40, align:"center", cellClick: function(e, cell) {cell.getRow().delete();}},
        ],
    });

    var attr_map_table = new Tabulator("#attr_map_table", {
        addRowPos:"bottom",
        movableRows:true,
        layout:"fitColumns",
        placeholder:"No Data Set",
        columns: [
            {title:"Feed Attr ID", field:"FEED_ATTRIBUTE_ID", width:150},
            {title:"Feed Attr Name", field:"FEED_ATTRIBUTE_NAME", width:150, editor:"input"},
            {title:"Feed Attr Type", field:"FEED_ATTRIBUTE_TYPE", width:150},
            {title:"Data Object Attr ID", field:"DATA_OBJECT_ATTRIBUTE_ID", width:190},
            {title:"Data Object Attr Name", field:"DATA_OBJECT_ATTRIBUTE_NAME", width:190, editor:"input"},
            {title:"Data Object Attr Type", field:"DATA_OBJECT_ATTRIBUTE_TYPE", width:190},
            {title:"Transformation", field:"TRANSFORM_FN", width:190, editor:"input"},
            {formatter:"buttonCross", width:40, align:"center", cellClick: function(e, cell) {cell.getRow().delete();}},
        ],
        cellEdited:function(cell) {
            // update edited row with feed attr names, types, doa names, types, transform_fn
            // BUT only update if feed_attr_id or doa_id is edited
            if (cell.getColumn().getDefinition()["field"] != "TRANSFORM_FN") {
                $.ajax({
                    url: '/read_one_feed_attribute/'+$('#feed_list').val()+"/"+cell.getRow().getData().FEED_ATTRIBUTE_NAME,
                    type: 'GET',
                }).done(function(data) {
                    cell.getRow().update({
                        "FEED_ATTRIBUTE_ID": data["FEED_ATTRIBUTE_ID"],
                        "FEED_ATTRIBUTE_NAME": data["ATTRIBUTE_NAME"],
                        "FEED_ATTRIBUTE_TYPE": data["ATTRIBUTE_TYPE"]
                    })
                });

                $.ajax({
                    url: '/read_one_data_object_attribute/'+$('#data_object_list').val()+"/"+cell.getRow().getData().DATA_OBJECT_ATTRIBUTE_NAME,
                    type: 'GET',
                }).done(function(data) {
                    cell.getRow().update({
                        "DATA_OBJECT_ATTRIBUTE_ID": data["DATA_OBJECT_ATTRIBUTE_ID"],
                        "DATA_OBJECT_ATTRIBUTE_NAME": data["ATTRIBUTE_NAME"],
                        "DATA_OBJECT_ATTRIBUTE_TYPE": data["ATTRIBUTE_TYPE"]
                    })
                });

            }
        },
        dataLoaded:function(data) {
            if (data.length > 0) {
                // enable dropdown list on certain columns for selection
                enhanceAttrMapTableAfterSetData();
            }
        },
    });

    var ajaxConfig = {
        method: "GET",
        headers: {
            "Content-type": 'application/json; charset=utf-8',
        },
    };

    function setDataAttrMapTable(feed_id, data_object_id) {
        if (!feed_id.includes("NEW_") && !data_object_id.includes("NEW_")) {
            attr_map_table.setData("read_attributes_by_feed_id_data_object_id/" + feed_id + "/" + data_object_id);

            // TODO also read the feed_data_object level mapping into a separate textbox
            // $.ajax({
            //     url: '/read_table_transformation_by_feed_id_data_object_id/' + feed_id + "/" + data_object_id,
            //     type: 'GET',
            // }).done(function(data) {
            //     $('#attr_mapping_table_transformation').val(data["transform_sql_query"]);
            //     $('#attr_mapping_src_filter').val(data["src_filter_sql"]);
            // });
        }
    }
        
    function enhanceAttrMapTableAfterSetData() {
        var arr = {};
        for (var i=0; i<data_object_table.getData().length; i++) {
            var elem = data_object_table.getData()[i]
            var key = elem["ATTRIBUTE_NAME"];
            var val = elem["ATTRIBUTE_NAME"];
            arr[key] = val;
        }
        attr_map_table.getColumn("DATA_OBJECT_ATTRIBUTE_NAME").updateDefinition({
            "editor": "select",
            "editorParams": arr
        });

        var arr2 = {};
        for (var i=0; i<feed_table.getData().length; i++) {
            var elem = feed_table.getData()[i]
            var key = elem["ATTRIBUTE_NAME"];
            var val = elem["ATTRIBUTE_NAME"];
            arr2[key] = val;
        }
        attr_map_table.getColumn("FEED_ATTRIBUTE_NAME").updateDefinition({
            "editor": "select",
            "editorParams": arr2,
        });
    }

    function setDataResult(data) {
        $('#sql_result').val(data);
        // autosize($('#sql_result'));
    }

    // feed list - change
    $("#feed_list").change(function() {
        selected_value = $(this).val()
        if (selected_value == "NEW_FEED") {
            $("#feed_table_new_feed_name").attr("disabled", false);
            $("#feed_table_new_feed_sourcesystem").attr("disabled", false);
            $("#feed_table_new_feed_filetype").attr("disabled", false);
            $("#feed_table_new_feed_dbname").attr("disabled", false);            
            feed_table.clearData();
        }
        else {
            $("#feed_table_new_feed_name").attr("disabled", true);
            $("#feed_table_new_feed_sourcesystem").attr("disabled", true);
            $("#feed_table_new_feed_filetype").attr("disabled", true);
            $("#feed_table_new_feed_dbname").attr("disabled", true);
            feed_table.setData("/read_feed_attributes_by_feed_id/"+$(this).val(), {}, ajaxConfig);
            setDataAttrMapTable($(this).val(), $("#data_object_list").val());
        }
    });

    // feed table - new row
    $("#feed_table_new_row").click(function() {
        feed_table.addRow({
            "feed_attribute_id": "AUTO"
        });
    })

    // feed table - generate
    $("#feed_table_submit").click(function() {
        $.ajax({
            url: '/save_feed/'+$("#feed_list").val(),
            type: 'POST',
            data: JSON.stringify({
                new_feed_name: $("#feed_table_new_feed_name").val(),
                new_feed_sourcesystem: $("#feed_table_new_feed_sourcesystem").val(),
                new_feed_filetype: $("#feed_table_new_feed_filetype").val(),
                new_feed_dbname: $("#feed_table_new_feed_dbname").val(),
                feed_attributes: feed_table.getData()
            }),
            contentType: "application/json",
        }).done(function(data) {
            setDataResult(data);
        })
    });
    
    // data object list - change
    $("#data_object_list").change(function() {
        selected_value = $(this).val()
        if (selected_value == "NEW_DATA_OBJECT") {
            $("#data_object_table_new_data_object_name").attr("disabled", false);
            $("#data_object_table_new_data_object_dbname").attr("disabled", false);
            data_object_table.clearData();
        }
        else {
            $("#data_object_table_new_data_object_name").attr("disabled", true);
            $("#data_object_table_new_data_object_dbname").attr("disabled", true);
            data_object_table.setData("/read_data_object_attributes_by_data_object_id/"+$(this).val(), {}, ajaxConfig);
            setDataAttrMapTable($("#feed_list").val(), $(this).val());
        }
    });

    // data_object table - new row
    $("#data_object_table_new_row").click(function() {
        data_object_table.addRow({
            "attribute_id": "AUTO"
        });
    });

    // data object table - generate
    $("#data_object_table_submit").click(function() {
        $.ajax({
            url: '/save_data_object/'+$("#data_object_list").val(),
            type: 'POST',
            data: JSON.stringify({
                new_data_object_name: $("#data_object_table_new_data_object_name").val(),
                new_data_object_dbname: $("#data_object_table_new_data_object_dbname").val(),
                data_object_attributes: data_object_table.getData(),
            }),
            contentType: "application/json"
        }).done(function(data) {
            setDataResult(data);
        })
    });
    
    // attr table - new row
    $("#attr_map_table_new_row").click(function() {
        attr_map_table.addRow({});
    });

    // attr table - generate
    $('#attr_map_table_submit').click(function() {
        $.ajax({
            url: '/save_transformation/'+$("#feed_list").val()+"/"+$("#data_object_list").val(),
            type: 'POST',
            data: JSON.stringify({
                attribute_mappings: attr_map_table.getData(),
                src_filter_sql: $("#attr_mapping_src_filter").val(),
                transform_sql_query: $("#attr_mapping_table_transformation").val()
            }),
            contentType: "application/json",
        }).done(function(data) {
            setDataResult(data);
        })
    });

</script>

{% endblock %}